# -*- shell-script -*-

# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.

*.[oa]
*~
*.pyc
*.pyo
*.pst
*.PST
*.bak
.DS_Store
Thumbs.db
login.auth
auth.gc
state.json
logs
backups
user_dir/
build/
dist/
tmp/
asynk.egg-info/
bbdb.Non-Existent

# Karra's Password files for development purposes
*.pwd
*.diff

# Doc related stuff.

*.html
*.info
*.pdf
*.dvi
asynk.xml
asynk.txt

asynk.sublime-project
asynk.sublime-workspace
