# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
*.[oa]
*~
*.pyc
*.pyo
*.pst
*.PST
.DS_Store
Thumbs.db
login.auth
