[submodule "lib/.CalDAVClientLibrary"]
	path = lib/.CalDAVClientLibrary
	url = https://github.com/skarra/CalDAVClientLibrary.git
[submodule "lib/.pyews"]
	path = lib/.pyews
	url = git@github.com:skarra/pyews.git
[submodule "lib/.gdata"]
	path = lib/.gdata
	url = git@github.com:skarra/Google-Contacts-API.git
