# -*- shell-script -*-

# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.

*.[oa]
*~
*.pyc
*.pyo
*.pst
*.PST
.DS_Store
Thumbs.db
login.auth
state.json
logs
backups
asynk.py.bak
asynk/utils.py.bak

# Karra's Password files for development purposes
cd.pwd
gc.pwd

# Doc related stuff.

*.html
*.info
*.pdf
*.dvi
asynk.xml
asynk.txt
