{% extends 'base.html' %}

{% block content %}

  <div class="row">
        <div class="col-lg-4">
          <div id="adv_sync">
                <select id="profile" name="db1" 
                        class="selectpicker show-tick" data-live-search="true"
                        title="Choose a profile for sync"
                        data-header="Select a profile name">
                <option>Choose a profile for sync </option>
                </select>
            </div>
        </div>
   </div>

{% end block %}