{% extends "base.html" %}

{% block base_body %}
<div id="container">
  <header>
    <div id="site-title">
      ASynK - Awesome SynK
    </div>
    <div id="caption">
      PIM Sync Done Right.
    </div>
  </header>

  <div id="nav" class="control">
    <a id="home"      >Home</a> <br/>
    <a id="announce"  >Announcements</a> <br/>
    <a id="downloads" >Downloads</a>  <br/>
    <a id="doc"       >Documentation</a>  <br/>
    <a id="support" >Support</a>  <br/>
    <a id="about"     >This & That</a>  <br/>
    <div class="push"></div>

    <p><p>
    <a href="https://www.gnu.org/licenses/agpl-3.0.html">
    <img width="80%" src="/images/agpl.png"></img>
    </a>

  </div>

  <div id="content">
    <div id="sheet">
      <div id="home_text" class="section">

	<h2>Introduction</h2>

	<p>ASynK is a flexible Contacts synchronization program that works
	with a variety of Contacts software such as
	<span class="emph">Microsoft Outlook</span>, 
	<span class="emph">Microsoft Exchange Server</span>, 
	<span class="emph">Google Contacts</span>,
	<span class="emph">Any standards compiant CardDAV server</span>, and
	<span class="emph">Emacs BBDB</span>.

	<p>Some of the key features of ASynK are:

	{{ intro_html|safe }}

      </div>

      <div id="announce_text" class="section" style="display:none">
	<h2>Announcements</h2>

	<h3>
	<span class="announce_title">Sat Jan 24 12:08:43 IST 2015</span>
	</h3>

	<div class="announce_text">
	  v2.1.0-rc2 has been released today.
	  <ol>
	    <li>This release supports like-pair synching. This means you can
	    now use ASynK to copy contacts from one google account to
	    another. As always this copy/synchronisation works at a Folder
	    level, so you could synchronize your My Contacts from your Work
	    email address to a specific folder in your personal Gmail
	    account.</li>
	  </ol>

	  <p/>
	  Go grab the latest release from the <span
	  class="announce_download">Downloads page</span>!
	</div>

	<h3>
	<span class="announce_title">Sat Jan 24 12:05:32 IST 2015</span>
	</h3>

	<div class="announce_text">
	  v2.0.0 has been released today.
	  <ol>
	    <li>It includes MS Exchange support - see notes below for the -rc1
	    release. The present release includes all of those plus some minor
	    bug fixes.</li>

	    <li>Bug Fix: Fixes a long standing bug in Google's contact API
	    that was preventing contact udpates from being posted. If you were
	    facing errors in synching to google contacts, you should be
	    interested in this release.</li>
	  </ol>

	  <p/>
	  Go grab the latest release from the <span
	  class="announce_download">Downloads page</span>!
	</div>

	<h3>
	<span class="announce_title">Sun May 04 12:13:29 IST 2014</span>
	</h3>

	<div class="announce_text">
	  v2.0.0-rc1 with Experimental support for Microsoft Exchange server
	  has been added to ASynK and just released.

	  Key notes for this work:
	  <ol>
	    <li>It has been tested with Exchange Online / Office 365. However
	    it should work with Exchange Servers 2007_SP1 onwards.</li>

	    <li>This release incudes a new submoduel. Ensure you fetch the
	    code for that repo as well.</li>

	    <li>There are some additional python package dependencies that
	    have been added. Install the dependencies in the requirements.txt
	    file.</li>

	    <li>The config.json format has changed to accomodate the
            requirements of a new datastore. Your config will be seamlessly
            upgraded to the new format </li>
	  </ol>
	</div>

	<h3>
	<span class="announce_title">Sun Sep 04 12:13:29 IST 2013</span>
	</h3>

	<div class="announce_text">
	  Release v1.0.0 - With support for CardDAV.

	  Key notes for this work:
	  <ol>
	    <li>It has been reported to work with the following servers:
  	      <ol>
  	        <li>Apple CalendarServer </li>
  	        <li>Baikal</li>
  	        <li>OwnCloud.</li>
  	      </ol>
	    </li>

	    <li>The config.json format has changed to accomodate the
            requirements of a new datastore. Your config will be seamlessly
            upgraded to the new format </li>
	  </ol>
	</div>

	<h3>
	<span class="announce_title">Mon Apr 22 16:07:32 IST 2013</span>
	</h3>

	<div class="announce_text">
	  Experimental support for CardDAV servers has been added to ASynK. As
	  this is still an early release the code lives in a separate branch
	  on github. You can view and checkout the code here:
	  https://github.com/skarra/ASynK/tree/carddav.

	  Key notes for this work:
	  <ol>
	    <li>It is only tested with Apple's Calendar Server on my local Mac
	    with a few test BBDB files . I would love to hear how this works
	    with other carddav servers out there.</li>

	    <li>The new branch on the git repo has a bunch of new git
	    submodules. If you are an existing user of ASynK, I would
	    recommend you checkout a fresh copy of the carddav branch for your
	    initial trials.</li

	    <li>The config.json format has changed to accomodate the
            requirements of a new datastore. You should copy the config.json
            from the asynk source directory manually to your asynk user
            dir. This step will be automated at a later time before official
            release.</li>

	    <li>The CardDAV protocol does not have a batch write operation -
	    but has a batch read method - which means that writing lots of
	    contacts to a remote server may be slow - much slower than
	    synching to a google contacts server using ASynK. This situation
	    will not change unless something changes with the WebDAV
	    protocol.</li>

	  </ol>
	</div>

	<h3>
	<span class="announce_title">Sun Mar 24 22:01:16 IST 2013</span>
	</h3>

	<div class="announce_text">
	  We have just pushed release v0.4.1 out. Key changes are:
	  <ol>
	    <li>Double-quote and newline characters in many fields are now
	    quoted before being written to BBDB. </li>

	    <li>sync_dir profile config was when set to SYNC1WAY was being
	    ignored; same was case with the conflict_resolve config variable </li

	    <li>list-folders operation was not working with BBDB data stores </li>

	    <li>folder name field was getting written to BBDB multiple times </li>

	    <li>You can create new profiles to non-existent BBDB datastores;
	    files will get created on sync. </li>

	    <li>Outlook backend was having issues with the BBDB timestamp
	    format. Fix so BBDB<->Outlook sync works. </li>

	    <li>A bunch of errors flagged by pychecker static analysis have
	    been fixed </li>
	    <li>A bunch of bugs fixed in handling of the 'affix' BBDB field

	    and synching it to and from google google 
	  </ol>
	  <p>

	  Go grab the latest release from the <span
	  class="announce_download">Downloads page</span>!
	</div>

	<h3>
	<span class="announce_title">Thu Jul 05 15:00:01 IST 2012</span>
	</h3>

	<div class="announce_text">
	  We have just pushed release v0.3.0 out. Key changes are:
	  <ol>
	    <li>ASynK now ships with two default sync profiles called:
	    "defgcbb" and "defgcol", so there is out of the box support for
	    what should be the most common use cases - synching entire ~/.bbdb
	    or outlook contacts folder with google contacts. (Thanks to John
	    Wiegley for the idea)

	    <li>ASynK now uses ~/.asynk/ as the directory to store all state
	    information, logs and backups. Thus you can now have a single
	    installation of ASynK for all users in your system, and they will
	    each get .asynk/ directory in their home directories. If you have
	    any existing sync profiles and state, ASynK will notice this, and
	    migrate your current sync state to the ~/.asynk/ directory. You
	    can override the default directory name by passing the --user-dir
	    command argument to any invocation of ASynK. (Thanks to Ivan
	    Miljenovic for the idea)

	    <li>ASynK can now be invoked from anywhere; earlier you had to
	    ensure the present working directory was the root of the asynk
	    source directory. (Thanks to Ivan Miljenovic for the idea)
	    <p/>
	    <b>Important Note</b>: The above two changes together imply that if
	    you have existing sync state you want migrated, the first run after
	    your upgrade to v0.3.0 should be from inside ASynK directory for
	    us to be able to locate your config and state. Subsequent runs can
	    be done from anywhere and we will pick up your stuff from
	    ~/.asynk/

	    <li>Bug fix: Google Contacts' multiple group membership
	    information is now correctly synched back and forth to BBDB and
	    Outlook.

	    <li>Bug fix: The first email address in the BBDB email list is
	    treated as the primary address, and marked accordingly in Google
	    Contacts. Without this the order the email addresses in BBDB could
	    have appeared random, and changing from one sync to another.

	  </ol>
	  <p>

	  Go grab the latest release from the <span
	  class="announce_download">Downloads page</span>!
	</div>

	<h3>
	<span class="announce_title">Fri Jun 15 07:40:54 IST 2012</span>
	</h3>

	<div class="announce_text">
	  We have just pushed release v0.2.2 out. Key changes are:
	  <ol>
	    <li>Now Item deletions are synched. i.e. if you have a sync
	    profile set up between Google folder and a Outlook folder, say,
	    and you delete a contact in Google, the next time you sync that
	    entry will be deleted from the corresponding Outlook folder as
	    well.<p/>

	    For this to work correctly, it is recommended that you do a full
	    sync of all your configured profiles once - note that a dry run is
	    not sufficient.

	    <li>Log files older than 7 days will be cleared every time asynk
	    is executed - except if it is a dry run. The duration can be
	    configured in config.json by changing the 'log_hold_period'
	    parameter.

	    <li>BBDB Backup files older than 7 days will cleared every time
	    asynk is executed - except if it is a dry run. The duration can be
	    configured in config.json by changing the 'backup_hold_period'
	    parameter.

	    <li>Misc bug fixes
	  </ol>
	  <p>

	  Go grab the latest release from the <span
	  class="announce_download">Downloads page</span>!
	</div>

	<h3>
	<span class="announce_title">Thu May 17 20:14:28 IST 2012</span>
	</h3>

	<div class="announce_text">
	  We have just pushed release v0.2.1 out. Key changes are:
	  <ol>
	    <li>BBDB file format 6 is now supported - with an important caveat
	    - Please refer to the <a
	     href='javascript:window.open("/doc/asynk/asynk_2.html#SEC8")'>
	    Dependencies section</a> of the documentation. BBDB file format 6
	    is used by BBDB versios 2.x bundled with XEmacs.

	    <li>Attempt is made to parse the BBDB file with multiple encodings
	    - for now utf-8 and latin-1. Additional encodings can be specified
	    in the config.json config file.

	    <li>Building documentaiton from source is now trivial, and
	    does not need autotools

	    <li>Instant Messaging fields are now synched across all sources

	    <li>Better error recovery in case of parse error with BBDB store

	    <li>Bugs fixes dealing with fax, notes, and company fields in
	    BBDB and Google Contacts	    
	  </ol>
	  <p>
	  All in all an exciting release if you are a BBDB user!  Go grab the
	  latest release from the <span class="announce_download">Downloads
	  page</span>!
	</div>

	<h3>
	<span class="announce_title">Sun May 13 13:54:50 IST 2012</span>
	</h3>

	<div class="announce_text">
	  We have just pushed release v0.2.0 out. Go grab the latest release
	  from the <span class="announce_download">Downloads page</span>!
	</div>
      </div>

      <div id="downloads_text" class="section" style="display:none">
	<h2>Downloads</h2>
	<p>
	  <div class="rel">
	    <strong>The latest experimental release is: <span
	    class="code">v2.1.0-rc2</span></strong>
	    <ul>
	      <li> <a
	      href="https://github.com/skarra/ASynK/archive/v2.1.0-rc2.tar.gz">
	      Gzipped tar archive</a>
	      </li>

	      <li> <a
	      href="https://github.com/skarra/ASynK/archive/v2.1.0-rc2.zip">
	      Zip File </a>
	      </li>
	    </ul>

	    <p/><p/><p/><p/>
	    <strong>The latest stable release is: <span
	    class="code">v2.0.0</span></strong>
	    <ul>
	      <li> <a
	      href="https://github.com/skarra/ASynK/archive/v2.0.0.tar.gz">
	      Gzipped tar archive</a>
	      </li>

	      <li> <a
	      href="https://github.com/skarra/ASynK/archive/v2.0.0.zip">
	      Zip File </a>
	      </li>
	    </ul>
	  </div>

	  <div class="rel">
	    <strong> Earlier stable releases: </strong>
	    <ul>
	      <li> v1.1.0 <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v1.1.0.tar.gz">
	      (.tar.gz)</a> <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v1.1.0.zip">
	      (.zip)</a>
	      </li>

	      <li> v0.3.0 <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.3.0.tar.gz">
	      (.tar.gz)</a> <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.3.0.zip">
	      (.zip)</a>
	      </li>

	      <li> v0.2.2 <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.2.tar.gz">
	      (.tar.gz)</a> <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.2.zip">
	      (.zip)</a>
	      </li>

	      <li> v0.2.1 <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.1.tar.gz">
	      (.tar.gz)</a> <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.1.zip">
	      (.zip)</a>
	      </li>

	      <li> v0.2.0 <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.0.tar.gz">
	      (.tar.gz)</a> <a
	      href="https://github.com/downloads/skarra/ASynK/asynk-v0.2.0.zip">
	      (.zip) </a>
	      </li>

	      <li> v0.1.0 <a
	      href="https://github.com/downloads/skarra/ASynK/gout-v0.1.0.zip">
	      (.zip) </a>
	      </li>
	    </ul>
	    </li>
	  </div>
	<p>
	  <h3>Download Source</h3> The source code for ASynK is available
	  publicly on github. You can clone the repositiry
	  with <span class="code">git clone
	  https://github.com/skarra/ASynK.git</span> or browse the
	  source code <a href="https://github.com/skarra/ASynK">here</a>.
	</p>

      </div>

      <div id="doc_text" class="section" style="display:none">
	<h2>Documentation</h2>
	<p> 
	  The current stable released vesion is v1.1.0. Refer to the
	  Announcements and FAQ sections to know what's changed between
	  versions. Please note that version v0.1.0 was significantly
	  different, and its documentation is available as <a
	   href="https://github.com/skarra/asynk/wiki"> a wiki on github
	  </a>. ASynK v0.1.0 was called Gout at the time of its release, had a
	  GUI and did not support BBDB.
	</p>

	<p>Documentation on ASynK is available in the following formats:
	  <ul>
	    <li>
	      <a href="doc/asynk.pdf">A single PDF</a>
	    </li>
	    <li>
	      <a href="doc/asynk.info">A single Info file</a> - for download
	      and use with Emacs Info documentation reading system
	    </li>
	    <li>
	      <a href='javascript:window.open("/doc/asynk/asynk.html")'>HTML for
	      online browing</a>, single html page (will open new window)
	    </li>
	    <li>
	      <a href='doc/asynk.texi'>The main source Texinfo file</a>. You
	      can find this file along with the associated texi files in
	      the doc/ directory of the source tree.
	    </li>
	  </ul>
	</p>
      </div>

      <div id="support_text" class="section" style="display:none">
	<h2>Support</h2>
	<p> 
	  <h3>Mailing List</h3>
	  There is a low-volume mailing list hosted by googlegroups where
	  ASynK users hang out. Release announcements and updates are also
	  posted to the list. Head
	  to <a href="https://groups.google.com/d/forum/asynk"> Mailing list
	  home page</a>
	  to view archives of old emails as well as subsribe to receive future posts.
	</p>
	<p> 
	  <h3>Twitter Account</h3>
	  Important announcements such as new releases and updates, etc. are
	  posted to the twitter
	  account <a href="https://twitter.com/#!/a_synk"> @a_synk </a> . You
	  can follow this account on twitter to receive updates in your twitter stream.
	</p>
      </div>

      <div id="about_text" class="section" style="display:none">
      	<a name="about"><h2>About the Author</h2></a>
	<p>
	  My name is <span class="emph">Sriram Karra</span>; you can find more
	  about
	  me on <a href="https://github.com/skarra">Github</a>,
	    <a href="https://plus.google.com/114708180777829794970/about">
	    Google+</a>, <a href="http://in.linkedin.com/in/sriramkarra">
 	    LinkedIn</a>, and <a href="http://twitter.com/skarra">
 	    twitter </a>. In short, I have a day job as a Product Manager at
 	    <a href="//www.hackerrank.com">an exciting startup</a>. I program
 	    for fun in my spare time.
	</p>

      	<a name="credits"><h2>Credits</h2></a>
	<p>
	  The application is built on code and ideas from
	  the following sources:
	  <ul>
	    <li>
	      <a href="http://github.com/consultlite">Pushkar Dubey</a> for
	      writing the wxPython UI that shipped in v0.1.0. The latest
	      release, i.e. v0.2.0, does not have a GUI, it needs to be
	      reworked.
	    </li>
	    <li>
	      <a href="http://sourceforge.net/projects/pywin32/">Pywin32</a>
	      Mark Hammond's totally awesome package that provides Python
	      bindings to many Windows APIs, including MAPI which is required
	      for talking to the Outlook message stores. Mark is very active
	      on the support list, and is extremely helpful.
	    </li>
	    <li>
	      <a href="http://twitter.com/#!/jackerhack">Jace, aka Kiran</a>
	      and <a href="//www.hasgeek.com">HasGeek</a> for CSS, and HTML
	      inspiration.
	    </li>
	  </ul>
	</p>
      </div>

    </div> <!-- #sheet -->
  </div> <!-- #content -->

  <div id="main_footer"></div>
</div> <!-- #container -->

{% endblock %}
