

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.padl20 {
	padding-left: 20px;
}

.padt20 {
	padding-top: 20px;
}