/*  HTML5 ✰ Boilerplate  */

* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, footer, header, controls, 
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#site-title {
    text-align: left;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    float: center;
    padding-right: 0.5em;
    font-size: 30px;
    font-weight: normal;
    color: #888888;
    text-rendering:optimizelegibilityfont-weight:normal;
}

#caption {
    text-align: left;
}

article, aside, details, figure, footer, controls, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre, kbd, samp {
  font-family: monospace, sans-serif;
}

.code {
  font-family: monospace, sans-serif;
  color: blue;
}

body h1 h2 h3 h4 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    line-height: 140%;
}

h1 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    margin-top: 20px;
    font-size: 26px;
    color: steelgrey;
}

h2 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    margin-top: 20px;
    font-size: 20px;
    color: #666666; 
}

h3 {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #555555;
}

html {
  overflow-y: scroll;
  height: 100%;
}

a:hover, a:active {
  outline: none;
}


a:hover {
  color: #036;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
/*  font-size: 85%; */
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: baseline;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

.emph { 
    color: green;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */
body {
    background: url('/images/canvas.jpg?881083570');
    height: 100%;
    font-size: 13px;
    color: #444444;
/*    background: url("/images/ricepaper.png"); */
}

/* Header area */
header {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    *zoom: 1;
    padding: 10px 20px;

    color: #666666;

    background: url('/images/ricepaper.png?884184256');
    border-bottom: 1px solid #afafaf;
    -moz-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.4);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header #sections li {
  float: bottom;
  list-style-image: none;
  list-style-type: none;
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.5em;
  width: 50px;
}

.control {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
/*   background: url('/images/cardboard.jpg?884184256'); */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width:150px;

    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px;

    margin: 5px 5px;
}

.control_label {
    width: 8.1em;
    height: 40px;

    margin-top: 0.5em;
    text-align: center;
    padding-left: 8px;
    padding-right: 21px;
    position: relative;

    color: #666;
    font-weight: bold;
    font-size: 14px;

    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    -o-border-radius:      3px;
    -ms-border-radius:     3px;
    -khtml-border-radius:  3px;
    border-radius:         3px;
    border: 1px solid #b7b7b7;

    background: #e6e6e6;
}

.control_label:hover {
    clear: both;
    color:#333333;
    background: #d6d6d6;
}

#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}

#container #main_footer {
  height: 40px;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    text-align: center;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    font-size: 90%;
    color: #888888;

    background: url('/images/paper.jpg?884184256');
    -moz-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px -1px 5px rgba(0, 0, 0, 0.4);
}

footer p {
  padding: 3px;
  margin: 0;
}

.bp footer p {
  border-top: 1px solid #afafaf;
  padding: 10px 20px;
  margin: 0;
}

#nav a { 
    color: #888888;
    margin-top: 0.5em; 
}

#nav a:hover {
    color: blue;
    cursor: pointer;
    cursor: hand;
}

#container {
    min-height: 85%;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#nav {
    float: left;
    width: 10%;
    text-align: right;
    line-height: 200%;
}

#content {
    float: right;
    width: 80%;
}

#sheet {
    float: left;

    *zoom: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 0;

    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial;
    font-size: 13px;
    line-height: 150%;

    border: 1px solid #afafaf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
/* Form elements */
}

#sheet #post-meta {
  color: #816894;
}

#sheet .section {
  *zoom: 1;
  padding: 0 2em;
}

#sheet .section:after {
  content: "";
  display: table;
  clear: both;
}

#sheet .section.first {
  border-top: 0;
}

#sheet .section.columns {
  padding-left: 2em;
  padding-right: 0;
}

#sheet p.post-date {
  margin-top: 0.5em;
  font-size: 80%;
  color: #666;
}

#sheet #apply-info {
  line-height: 1.5;
}

#sheet #detailed-info {
  float: left;
  max-width: 600px;
  line-height: 1.5;
  padding-right: 1em;
}

#sheet fieldset {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}

#sheet fieldset:after {
  content: "";
  display: table;
  clear: both;
}

#sheet #headline {
  width: 95%;
  font-size: 120%;
  font-weight: bold;
}

a, .announce_download {
    text-decoration: none;
}

a:link, .announce_download {
    color: #777777;
}

a:visited {
    color: #aaaaaa;
}

a:hover, .announce_download:hover {
    color: blue;
    cursor: pointer;
    cursor: hand;
}

li { 
    margin-top: 0.9em; 
}

p { 
    margin-top: 0.9em;
    margin-bottom: 0.9em; 
}

.announce_title {
    color: green;
}

.rel {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 43%;
}
